<section>
  <h1>About Me</h1>
    {% if site.gravatar_email %}
    <section>
        <span>
            <img src="{% gravatar_image %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
        </span>
    </section>
    {% endif %}
  <p>Andrii boasts expertise as a Python and Ruby developer with strong hard and soft skills. He has deep knowledge of automated-testing and really understands how to assess and improve project quality. Andrii likes to solve difficult tasks, algorithms and take part in sport programming competitions.</p>
  <a href="https://twitter.com/a_soldatenko" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @a_soldatenko</a>
</section>
